server:
  port: 2000

messaging:
  broker: activemq
  queue: test.queue

spring:
  application:
    name: publish-service
  activemq:
    broker-url: tcp://activemq:61616
    user: admin
    password: admin


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka

management:
  server:
    port: 9000
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
